**/.git
**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/publish_out
**/dist
**/logs
**/*.db
**/*.db-shm
**/*.db-wal
**/*.user
**/*.suo
**/node_modules
Dockerfile
docker-compose.yml
.dockerignore
.gitignore
README.md
